<!DOCTYPE html>
<html ng-app="osmm">
<head>
    <meta charset="UTF-8">
    <title>OSM Monitoring</title>
    <link rel="stylesheet" href="css/leaflet.css" />
    <link rel="stylesheet" href="css/css.css" />
    <script src="js/jquery-1.12.0.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/leaflet-src.js"></script>
    <script src="js/js.js"></script>
</head>
<body ng-controller="OsmmController">
<div>
    <form ng-submit="loadDataOnClick()">
        <div>
            <label for="api-key">API key</label>:
            <input id="api-key" ng-model="apiKey" />
        </div>
        <div>
            <label for="url">Endpoint</label>:
            <input id="url" ng-model="endpoint" />
        </div>
        <input type="submit" value="Load data" />
    </form>
    <div>
        <div ng-repeat="layer in layers" style="background-color: {{layer.color}}">
            <label for="layer-{{layer.userName}" ng-bind="layer.userName"></label>
            <input id="layer-{{layer.user.name}}" type="checkbox" ng-model="layer.checked" ng-click="layerCheckboxOnClick(layer)" />
        </div>
    </div>
    <div>
        <div>Tracking type</div>
        <div>
            <label for="tracking-type-all">All</label>:
            <input type="radio" name="tracking-type" value="all" id="tracking-type-all" ng-model="trackingType" />
        </div>
        <div>
            <label for="tracking-type-last-one">Last one</label>:
            <input type="radio" name="tracking-type" value="last-one" id="tracking-type-last-one" ng-model="trackingType" />
        </div>
    </div>
</div>
<div id="map"></div>
</body>
</html>
